@import '../../../styles.scss';

.person-info-container {
  padding: 1.25rem;
  max-width: 36rem;
  margin: 0 auto;
}

.error-message {
  color: #dc3545;
  margin-bottom: 1.25rem;
  padding: 0.625rem;
  background-color: $parliament-white;
  border-radius: 0.25rem;
}

.person-info {
  background-color: $parliament-white;
  border: 1px solid $parliament-purple;
  border-radius: 0.5rem;
  padding: 1.25rem;
}

.person-info h3 {
  margin: 0 0 1rem;
  color: $parliament-purple;
  font-size: 1.25rem;
  font-weight: 600;
}

.person-info p {
  margin: 0.5rem 0;
  font-size: 1rem;
  line-height: 1.5;
}

.person-info .department {
  color: $parliament-purple;
}

.person-info .dob {
  font-size: 0.9rem;
}
.label{
  color: $parliament-purple;
  font-weight: 800; 
}