@import '../../../styles.scss';

.person-listitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;

  .person-name {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .person-actions {
    display: flex;
    gap: 0.5rem;
  }
}

.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);

  .modal-dialog {
    margin-top: 2rem;
  }

  .modal-content {
    border-radius: 0.5rem;
  }

  .modal-header {
    border-bottom: 1px solid $parliament-purple;
    padding: 1rem;

    .modal-title {
      margin: 0;
    }

    .btn-close {
      padding: 1rem;
      margin: -1rem -1rem -1rem auto;
    }
  }

  .modal-body {
    padding: 1rem;
  }
}
