/* You can add global styles to this file, and also import other style files */

/* Color variables */
$parliament-purple: #373151;
$parliament-white: #ffffff;


/* Button mixins */
@mixin parliament-button-primary {
  background-color: $parliament-purple;
  color: $parliament-white;
  @include parliament-button;
}

@mixin parliament-button-secondary {
  background-color: $parliament-white;
  color: $parliament-purple;
  @include parliament-button;
}

@mixin parliament-button{
    border: 1px solid $parliament-purple;
    border-radius: 4px;
  &:hover {
    background-color: rgba($parliament-purple, 0.5);
  }
}
// Global button styles
:root {
  --parliament-purple: #{$parliament-purple};
  --parliament-white: #{$parliament-white};
}

.btn-parliament-primary {
  @include parliament-button-primary;
}

.btn-parliament-secondary {
  @include parliament-button-secondary;
}



body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem 0;
}

h1, h2, h3, h4, h5 {
  color: $parliament-purple;
}

strong.highlight {
  color: $parliament-purple;
}

table {
  thead {
    th {
      color: $parliament-purple !important;
      vertical-align: top;
    }
  }
}

.table-responsive {
    overflow-x: auto;

    .table {
        min-width: 600px;
    }
}
