<div>
</div>      <tr>
        <td>
          Use of routing
        </td>
        <td>
          Your list, add and edit functionality should utilise Angular routing to load the appropriate component. The edit page should take a person ID in the URL and use this to load the appropriate data.
        </td>
      </tr>
      <tr>
        <td>
          Unit tests
        </td>
        <td>
          You should add Angular unit tests covering at least one of the services and one of the components.
        </td>
      </tr>
      <tr>
        <td>
          Accessibility
        </td>
        <td>
          Your rendered pages/components should validate to WCAG 2.1 AA standard with no issues. You can use the AXE plugin to verify this (<a href="https://chromewebstore.google.com/detail/axe-devtools-web-accessib/lhdoppojpmngadmnindnejefpokejbdd?pli=1" target="_blank">https://chromewebstore.google.com/detail/axe-devtools-web-accessib/lhdoppojpmngadmnindnejefpokejbdd?pli=1</a>). The pages should also be usable with a keyboard.
        </td>
      </tr>
      <tr>
        <td>
          Error handling
        </td>
        <td>
          The pages should present validation errors to indicate any problems the users need to correct. They should also handle more general errors gracefully, and show a general error message to the user.
        </td>
      </tr>
    </tbody>
  </table>
</div>

